# Domain names used in DNS and SSL checks/reports, must not include http:// or https://
domain_names = [ "github.com", "microsoft.com" ]

# Website URLs used in HTTP checks/reports, must include http:// or https://
website_urls = [ "https://github.com", "https://microsoft.com"
